body {
  margin: 0 0 0 0;
  font-size: 0;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
}

a {
  color: #006cc0;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: all .3s ease-in-out;
  font-size: 1.5rem;
}

a:hover {
  transition: all .3s ease-in-out;
  color: #003a78;
}

a::before,
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 30px;
  margin: 0 auto;
  height: 5px;
  width: 100%;
  background-color: #fdb811;
  z-index: 1;
  display: inline-block;
  transition: all .3s ease-in-out;
}

a::after {
  width: 0%;
  background-color: #003a78;
}

a:hover::after {
  width: 100%;
  transition: all .3s ease-in-out;
}

img {
  width: 100%;
  height: auto;
}

.container {
  padding: 100px 20px;
}

.inner {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% repeat(1, 2fr);
  grid-gap: 20px;
}

@media (max-width: 979px) {
  .inner {
    width: 100%;
    grid-template-columns: none;
  }
}
