@font-face {
  font-family: 'Corsa Grotesk', sans-serif;
  src: url(/fonts/Corsa_Grotesk_Regular.otf);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 87px;
}

body {
  margin: 0 0 0 0;
  font-family: 'Corsa Grotesk';
  font-size: 0;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
}

.main-hero {
  min-height: 75vh;
}

.main-hero,
.about-section,
.skills-section,
.tools-section,
.applications-section,
.footer {
  padding: 5rem 0rem;
}

.topographic {
  background: #fff;
}

.card {
  transition: .3s all;
}

.skills-card {
  transition: .3s all;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.skills-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.carousel {
  height: 450px;
}

.heading-div {
  width: fit-content;
}

.heading {
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-weight: 100;
}

a {
  color: #e64242;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: all .3s ease-in-out;
}

a:hover {
  transition: all .3s ease-in-out;
  color: #e64242;
  text-decoration: none;
}

a::before,
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 3px;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  display: inline-block;
  transition: all .3s ease-in-out;
}

a::after {
  width: 0%;
  background: linear-gradient(-45deg, #e64242, #e67442);
}

a:hover::after,
.content-div:hover .heading::after {
  width: 100%;
  transition: all .3s ease-in-out;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
}

.large-font {
  font-size: 6rem;
}

.pointer {
  cursor: pointer;
}

.aka-button {
  padding: .75rem 2.5rem;
}

.aka-button-fill {
  background: #e64242;
  border: 1px solid #e64242;
  color: #ffffff;
}

.carousel-controls-div {
  width: fit-content;
}

.carousel-button {
  padding: .5rem 1rem;
}

.carousel-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
}

.indicator {
  height: 1rem;
  width: 1rem;
  border-radius: 5rem;
  border: 1px solid #dee2e6;
}

.indicator-active {
  height: 1rem;
  width: 1rem;
  border-radius: 5rem;
  background: #e64242;
  border-color: #e64242;
}

.card-body * {
  transition: .3s all;
  width: fit-content;
  margin: auto;
}

.devicons-javascript_badge:before {
  position: relative;
  z-index: 2;
}

.background-test {
  bottom: 2px;
  right: 2px;
  height: 75%;
  width: 75%;
  z-index: 1;
}

.devicons-javascript_badge {
  color: #f7e200;
}

.devicons-react {
  color: #61dafb;
}

.devicons-jquery {
  color: #0769AD;
}

.devicons-mysql {
  color: #0074a3;
}

.devicons-html5 {
  color: #ff6421;
}

.devicons-css3 {
  color: #006cc0;
}

.devicons-php {
  color: #8892BF;
}

.devicons-bootstrap {
  color: #563d7c;
}

.background-test {
  background: #000;
}

.nihon {
  color: #e64242;
}

.nihon-background {
  background: linear-gradient(-45deg, #e64242, #e67442);
}

.topographic-2 {
  background-image: linear-gradient(-45deg, #e64242ef, #e67342ef), url('./images/Topographic-Map-Pattern-5.png');
  background-size: contain;
  background-repeat: repeat;
}

.tools-section .card {
  border-color: transparent;
}

.tools-section .card:hover {
  border-color: #fff;
}

@media (max-width: 767px) {
  .hero-graphic {
    min-height: 50vh;
  }
}

@media (max-width: 575px) {
  .mobile-six-row {
    justify-content: space-evenly;
  }

  .mobile-six-card {
    width: calc(50% - 30px);
    padding: 0px;
    margin-bottom: 15px;
  }
}
