body {
  margin: 0 0 0 0;
  font-size: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

.main-hero {
  min-height: 75vh;
}

.hero-graphic {
  min-height: 90vh;
  background-image: linear-gradient(-45deg, #FFAE8F90, #FF677D90, #CD668490, #6F5A7E90), url('./images/Topographic-Map-Pattern-7.png');
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
}

a {
  color: #006cc0;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: all .3s ease-in-out;
}

a:hover {
  transition: all .3s ease-in-out;
  color: #003a78;
}

a::before,
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 5px;
  width: 100%;
  background-color: #fdb811;
  z-index: 1;
  display: inline-block;
  transition: all .3s ease-in-out;
}

a::after {
  width: 0%;
  background-color: #003a78;
}

a:hover::after {
  width: 100%;
  transition: all .3s ease-in-out;
}

@media (max-width: 767px) {
  .hero-graphic {
    min-height: 50vh;
  }
}
