html {
  scroll-behavior: smooth;
  scroll-padding-top: 87px;
}

body {
  margin: 0 0 0 0;
  font-size: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

.main-hero {
  min-height: 75vh;
}

.hero-graphic {
  min-height: 90vh;
  background-image: linear-gradient(-45deg, #FFAE8F90, #FF677D90, #CD668490, #6F5A7E90), url('./images/Topographic-Map-Pattern-7.png');
}

.about-section {
  padding: 5rem 0rem;
}

.skills-section {
  padding: 5rem 0rem;
}

.topographic {
  background-image: linear-gradient(#ffffffdc, #ffffffdc), url('./images/Topographic-Map-Pattern-7.png');
}

.card {
  transition: .3s all;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

h1 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-weight: 100;
}

a {
  color: #006cc0;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: all .3s ease-in-out;
}

a:hover {
  transition: all .3s ease-in-out;
  color: #003a78;
}

a::before,
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 5px;
  width: 100%;
  background-color: #fdb811;
  z-index: 1;
  display: inline-block;
  transition: all .3s ease-in-out;
}

a::after {
  width: 0%;
  background-color: #003a78;
}

a:hover::after {
  width: 100%;
  transition: all .3s ease-in-out;
}

.large-font {
  font-size: 6rem;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 767px) {
  .hero-graphic {
    min-height: 50vh;
  }
}
